<div id="home_container">


<div id="plato_box">
	</div>
	
	<div id="quote_box">
			<p>Knowledge arrives as long as you ask.</p>
		</div>
	
	<div id="search_box">
	<%= form_tag root_path, :method => 'get', :remote => true do %>
	<p> <%= text_field_tag :search, params[:search], :size => 30, :onkeyup => "this.form.sub.click()",:autocomplete => 'off' %>
	<%= submit_tag "Search", :name => "sub" %></p>
	<% end %>
	</div>

<div id="qna">
<%= render :partial => '/questions/home_question',  :as => :question, :collection => @questions %>
</div>

</div>


