<div class="button">
<%= link_to 'New Question', :action => 'new'%>
</div>
<div class="clear"></div>

<div id="questions_container">
<%= render :partial => @questions%>
</div>


<div id="sidebar">
Topic Filter: <%= session[:topic_filter]	%>
<%= link_to "Switch", topic_filter_path %>
</div>



