<h1>Listing questions</h1>

<div class="button">
<%= link_to 'New Question', :action => 'new'%>
</div>
<div class="clear"></div>
<div id="questioncontainer">
<%= render :partial => @questions%>
</div>


<div id="sidebar">
Topic Filter: On
</div>

<div class="clear"></div>


