<div class="topic">
<%= link_to_unless_current h(topic.name), topic %>
[<%= pluralize(topic.questions_count, 'question')  %>]
<%= link_to 'Follow',new_topic_following_path(:topic_id => topic.id) %> 
</div>
