 /* -------- Elements -------- */
body, html { 
	font-family:"Helvetica Neue",Helvetica,Arial,default;
	background-color: #fff; color: #333; 
	background:url('../images/header.png');
	background:#f4f6f6 url('../images/background.png') 50% 0 repeat-y !important;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	}
		
div{
	border: 0px solid black;
	}
	
	
	
 a {color:#0082ff;}      /* unvisited link */
 a:link{color:#0082ff;}      /* unvisited link */
 a:visited  {color:#5a00ff;}  /* visited link */
 a:hover {color:#0024ff;}  /* mouse over link */
 a:active {color:#454545;}  /* selected link */


	
	
	
/* -------- End of Elements -------- */





 /* -------- Custom Elements -------- */


 /* Navigation */
#header {
		width:100%;
	}
	
	
	
#header li{
  text-decoration:  none;
	display: inline;
	color:#0082ff;
	font-size:13px;
	margin:0 11px 0 0;
	height:59px;
	}


#header a {color:#0082ff;}      /* unvisited link */
#header a:link{color:#0082ff;}      /* unvisited link */
#header a:visited  {color:#5a00ff;}  /* visited link */
#header a:hover {color:#0024ff;}  /* mouse over link */
#header a:active {color:#454545;}  /* selected link */



#main_navigation, #user_navigation { 
	margin:auto;
	text-decoration:  none;
	}




	
	

	
	#main_navigation{float:left; text-align:left;}
	#user_navigation{float:right; text-align:right;}



#main{
	float:center;
	text-decoration:  none;
}
#user{
		float:left;
			text-decoration:  none;
	}
	
/* yan = 970px  quora = 980*/
#main {
	margin:0 auto;
	text-align:left;
	width: 960px;
	float:center;
	}

#notice{
	color:green;
	}

#footer {
	text-align:center;
	margin-top:50px;
	}

#footer_menu li{
	text-decoration:  none;
	display: inline;
	text-align: center;
	margin:0 11px 0 0;
}

	/* CSS3 FORM */

input, textarea { 

	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	font-size:100%;
	width: 200px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 350px;
	max-width: 500px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #00bef9;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	}


.button{
		width: auto;
		padding: 9px 15px;
		background: #00bef9;
		border: 0;
		font-size: 14px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		cursor: pointer;
		clear:both;
		margin:0 auto;
		text-align:center;
		width:120px;
		float:right;		
}

.button a:link, 
.button a:visited, 
.button a:visited, 
.button a:hover, 
.button a:active, 
.button a   {
	text-decoration:none;
	color:white;
	}     




 /* form containers */	
	.formline{
	clear:both;
	float:center;
	margin:0 auto;
	text-align:center;
	width:400px;
	}
	

	.formlabel{
	float:left;
	width:100px;
	margin-top: 12px;
	}

	.formlabelcenter{
	float:left;
	width:100%;
	}
	
	.formfield{
	position:relative;
	float:left;
	}
	

 /* question containers */	

#questioncontainer{
	width:750px;
	float:left;
}


#sidebar{	
	width:200px;
	float:left;
	}



	.answercontainer{
	background-color:#f8f8f8;
	clear:both;
	height:55px;
	margin-top:10px;
	}

	.answerscount{
	float:left;
	}

	.question_title{


	}
	
	
	.question_title h2, .question_title a{
	font-size:100%;
	text-decoration:none;
	margin:0;
	padding:0;
	}
	.question_description{

	}


	.answer_circle{
	float:left;
	width:50px;
	height:50px;
	}
	
	.question_date{

	}
	
	question_tags{

	}
	
	.question_date, .question_description, .question_title{

		
	}


.question_details
{
	width:200px;
	float:right;
}


.answer_body
{ 
	width:490px;
	float:left;
	
}



/* Topic Page   */
.topic{
margin-right:30px;
margin-bottom:10px;		
float:left;
	
}













/* 
.answer_circle{
	display: block;
	width: 15px;
	height: 15px;
	background: #c06;
	float:left;
	margin-right:5px;
background: none repeat scroll 0 0 white;
}

.answer_circle p{
	margin-top:5px;
}

css3 cyrcles */



 /* --------Special -------- */
.clear{
	clear:both;
}

 /* -------- End of Custom Elements -------- */



/*
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}




div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
*/

