<% @page_title = 'Login Page Title'%>


<%= form_tag(:action => 'send_login') do %>

	<div class="formline">
	<div class="formlabel">Username:</div>
	<div class="formfield">	<%= text_field_tag('username', params[:username]) %> </div>
	</div>
	
	<div class="formline">
	<div class="formlabel">Password:</div>
	<div class="formfield"> <%= password_field_tag('password') %> </div>
	</div>
	
	<div class="formline">
	<div class="submit"><%= submit_tag("Log in")%></div>
	</div>
	
<% end -%>



