<br />
<h1>About Answertome</h1>
<p>This project intends to improve the way Q&A web sites work. The project aims to create an online application that will be capable of comprising features such as reputation, collaboration, reusability and personalisation in order to provide a useful environment to everyone who uses the web to find answers. </p>

<h1>Objectives</h1>

The main objective of the application is not just to provide a mechanism so users can post questions and answers but will also be based on 4 main features:

<p><b>Reputation</b>: Members will be able to vote good and accurate answers and will also have some measurement of trust level that will indicate their privileges </p>

<p><b>Collaboration</b>: Members will be able to collaboratively moderate the contents of the application depending on their reputation.</p>

<p><b>Reusability</b>: Question and Answers can be edited by privileged users so they can always stay up to date, and be more understandable to anyone who would try to read or answer them.</p>

<p><b>Personalisation</b>: The system will be able to predict and display content that the Members might be more interested by looking at their last actions.</p>
